In [24]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_percentage_error
from statsmodels.tsa.arima.model import ARIMA

In [17]:
df_all = pd.read_csv('../week1.csv')
df = df_all.loc[df_all['Ticker'] == 'AAPL']
df

,Ticker,Date,Open,High,Low,Close,Volume,Daily Return,7D MA,30D MA,30D RV
0,AAPL,2010-06-28,34.191,34.545,33.874,34.360,163083315,NaN,NaN,NaN,NaN
1,AAPL,2010-06-29,33.856,33.856,32.565,32.806,315472195,-4.522701,NaN,NaN,NaN
2,AAPL,2010-06-30,32.877,33.036,32.020,32.212,205878957,-1.810644,NaN,NaN,NaN
3,AAPL,2010-07-01,32.542,32.629,31.147,31.823,285057573,-1.207624,NaN,NaN,NaN
4,AAPL,2010-07-02,32.103,32.132,31.144,31.623,193495389,-0.628476,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1854,AAPL,2017-11-06,171.750,174.360,171.100,173.630,34901241,1.018152,168.047143,158.380667,1.173754
1855,AAPL,2017-11-07,173.290,174.510,173.290,174.180,24424877,0.316766,169.720000,159.100333,1.151007
1856,AAPL,2017-11-08,174.030,175.610,173.710,175.610,24451166,0.820990,171.075714,159.831333,1.152021
1857,AAPL,2017-11-09,174.480,175.460,172.520,175.250,29533086,-0.205000,172.050000,160.582000,1.141205
1858,AAPL,2017-11-10,175.110,175.380,174.270,174.670,25130494,-0.330956,173.247143,161.285333,1.150261

In [18]:
df['Target'] = df['Close'].shift(-1)
df = df.dropna()
features = ['Open', 'High', 'Low', 'Close', 'Volume', 'Daily Return', '7D MA', '30D MA', '30D RV']
X = df[features]
y = df['Target']

split_index = int(len(df) * 0.8)
X_train = X.iloc[:split_index]
y_train = y.iloc[:split_index]
X_test = X.iloc[split_index:]
y_test = y.iloc[split_index:]

C:\Users\Akshat\AppData\Local\Temp\ipykernel_5252\2640161098.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Target'] = df['Close'].shift(-1)

In [ ]:
model = RandomForestRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [20]:
print("MAE:", mean_absolute_percentage_error(y_test, y_pred))

MAE: 0.09761249419617549

In [23]:
df['Actual_Direction'] = (df['Target'] > df['Close']).astype(int)  # 1 if price goes up next day else 0
predicted_direction = (y_pred > X_test['Close']).astype(int)

accuracy = accuracy_score(df['Actual_Direction'].iloc[split_index:], predicted_direction)
print("Direction Prediction Accuracy:", accuracy)

Direction Prediction Accuracy: 0.49453551912568305

C:\Users\Akshat\AppData\Local\Temp\ipykernel_5252\2787440185.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Actual_Direction'] = (df['Target'] > df['Close']).astype(int)  # 1 if price goes up next day else 0

In [22]:
df

,Ticker,Date,Open,High,Low,Close,Volume,Daily Return,7D MA,30D MA,30D RV,Target
30,AAPL,2010-08-10,33.276,33.353,32.984,33.221,125925550,-0.892005,33.473429,32.832567,1.598099,32.040
31,AAPL,2010-08-11,32.676,32.742,31.992,32.040,172348213,-3.554980,33.260286,32.807033,1.513263,32.246
32,AAPL,2010-08-12,31.579,32.412,31.521,32.246,148982213,0.642946,33.074857,32.808167,1.481791,31.900
33,AAPL,2010-08-13,32.146,32.259,31.898,31.900,98812016,-1.073001,32.821000,32.810733,1.478163,31.714
34,AAPL,2010-08-16,31.725,32.020,31.582,31.714,88596378,-0.583072,32.564000,32.813767,1.477501,32.267
...,...,...,...,...,...,...,...,...,...,...,...,...
1853,AAPL,2017-11-03,173.380,173.640,170.510,171.880,59612161,2.608799,165.650000,157.593333,1.195754,173.630
1854,AAPL,2017-11-06,171.750,174.360,171.100,173.630,34901241,1.018152,168.047143,158.380667,1.173754,174.180
1855,AAPL,2017-11-07,173.290,174.510,173.290,174.180,24424877,0.316766,169.720000,159.100333,1.151007,175.610
1856,AAPL,2017-11-08,174.030,175.610,173.710,175.610,24451166,0.820990,171.075714,159.831333,1.152021,175.250
1857,AAPL,2017-11-09,174.480,175.460,172.520,175.250,29533086,-0.205000,172.050000,160.582000,1.141205,174.670

In [26]:
close_series = df['Close']

# Split into train/test by index (80-20 split)
split_index = int(len(df) * 0.8)
train_close = close_series.iloc[:split_index]
test_close = close_series.iloc[split_index:]

# Fit ARIMA model on train data (tune p,d,q accordingly, starting with (5,1,0))
model = ARIMA(train_close, order=(5,1,0))
model_fit = model.fit()

# Forecast for the length of test set
forecast = model_fit.forecast(steps=len(test_close))

# Evaluate
rmse = np.sqrt(mean_squared_error(test_close, forecast))
print(f"Test RMSE: {rmse:.4f}")

c:\Python313\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
c:\Python313\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
c:\Python313\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
c:\Python313\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:837: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
c:\Python313\Lib\site-packages\statsmodels\tsa\base\tsa_model.py:837: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(

Test RMSE: 39.5490

In [27]:
df.describe()

,Open,High,Low,Close,Volume,Daily Return,7D MA,30D MA,30D RV,Target,Actual_Direction
count,1828.000000,1828.000000,1828.000000,1828.000000,1.828000e+03,1828.000000,1828.000000,1828.000000,1828.000000,1828.000000,1828.000000
mean,86.281819,87.007898,85.502770,86.276654,8.661293e+07,0.102904,86.045717,85.234519,1.498010,86.354033,0.526258
std,33.087843,33.285508,32.882074,33.105044,6.146766e+07,1.572628,32.949343,32.544606,0.475700,33.146249,0.499447
min,30.726000,31.070000,30.168000,30.726000,1.124397e+07,-12.357893,31.030429,32.388900,0.508498,30.726000,0.000000
25%,58.190000,58.684250,57.354000,58.000500,3.929918e+07,-0.669259,57.980714,57.283375,1.179467,58.051000,0.000000
50%,82.198500,82.764500,81.121000,81.959000,7.228106e+07,0.088500,81.950143,80.628400,1.417529,82.180000,1.000000
75%,109.572500,110.680000,108.640000,109.515000,1.168443e+08,0.944476,109.496786,108.733417,1.742606,109.617500,1.000000
max,174.480000,175.610000,173.710000,175.610000,5.192501e+08,8.872474,172.050000,160.582000,3.169211,175.610000,1.000000